<html>
  <head>
    <title><%- ping %>ms</title>
    <link id="favicon" rel="icon" href= <%- avatarURL %> />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <noscript>Sorry, your browser does not support JavaScript!</noscript>
    <script src="https://express-uwuv3.glitch.me/bg.js"></script>
    <script src="https://express-uwuv3.glitch.me/snow.js"></script>
    Why not me?
  </head>
  <body>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    />
    <link rel="stylesheet" href="https://express-uwuv3.glitch.me/style.css" />
    <canvas id="canv"></canvas>
    <p>
      <a class="botname"><%- name %></a> <a class="name">is active</a><br />
      <a class="name2">Ping:<%- ping %> ms</a><br />
      <a class="name2">Users:<%- users %></a><br />
    </p>
    <p class="p">
      <a
        href="https://open.spotify.com/user/jirvuq7pbpaxly29r0y7qffwr"
        target="_blank"
        ><i class="fab fa-spotify"></i></a
      ><a href="https://github.com/uwuv3" target="_blank"
        ><i class="fab fa-github"></i></a
      ><a href="https://discord.com/users/984439714851479593" target="_blank"
        ><i class="fab fa-discord"></i
      ></a><a href="https://www.reddit.com/user/uwu_v3" target="_blank"
      ><i class="fab fa-reddit"></i
    ></a>
    </p>
    <noscript>Sorry, your browser does not support JavaScript!</noscript>
    <script src="https://express-uwuv3.glitch.me/bg.js"></script>
    <script src="https://express-uwuv3.glitch.me/snow.js"></script>
  </body>
</html>
